{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron">
        <h1>{{ title }}</h1>
        <h5>
            Written by:
            <img src="{{ url_for('static', filename='profile_pics/'+post.author.profile_image) }}" height="40" width="40" alt="Profile Picture">
            <a href="{{ url_for('users.user_posts', username=post.author.username) }}" class="author_name_link">
                {{ post.author.username|capitalize }}
            </a>
        </h5>
        <h6>Published: {{ date.strftime("%d-%B-%Y") }}</h6>
        <div class="main_post">
          <p>{{ post.text }}</p>
        </div>

        {% if post.author == current_user %}
            <div>
                <a href="{{ url_for('comments.create_comment', blog_post_id=post.id) }}" class="btn btn-outline-primary blue_btn">Write Comment</a>
                <a href="{{ url_for('blogs.update_post', blog_post_id=post.id) }}" class="btn btn-warning">Update Post</a>
                <button type="button"
                        class="btn btn-outline-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#del_modal">
                    Delete Post
                </button>
            </div>
        {% else %}
            <div>
                <a href="{{ url_for('comments.create_comment', blog_post_id=post.id) }}" class="btn btn-outline-primary blue_btn">Write Comment</a>
            </div>
        {% endif %}
        <hr>
    </div>

    <div class="modal" tabindex="-1" id="del_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete Post?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete the post?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>

              <!--   Ovo smo mi ubacili da bi prosledili korisnika do delete view kako bi obrisali post!   -->
              <form action="{{ url_for('blogs.delete_post', blog_post_id=post.id) }}">
                  <input type="submit" value="Delete" class="btn btn-danger">
              </form>

          </div>
        </div>
      </div>
    </div>

    {% for comment in comments %}
    <div class="jumbotron mt-5">
        <h6>
            Written: {{ date.strftime("%d-%B-%Y") }}
            by
            <img src="{{ url_for('static', filename='profile_pics/'+comment.comment_author.profile_image) }}" height="30" width="30" alt="Profile Picture">
            <a href="{{ url_for('users.user_posts', username=comment.comment_author.username) }}">
                {{ comment.comment_author.username|capitalize }}
            </a>
        </h6>
        <div class="post_comments">
          <p>{{ comment.text }}</p>
        </div>
        
    </div>
        {% if comment.comment_author == current_user %}
            <div>
                <a href="{{ url_for('comments.update_comment', comment_id=comment.id) }}" class="btn btn-outline-primary blue_btn">Update Comment</a>
                <button type="button"
                        class="btn btn-outline-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#del_comment">
                    Delete Comment
                </button>

        <div class="modal" tabindex="-1" id="del_comment">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Delete Comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete the comment?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>

                  <form action="{{ url_for('comments.delete_comment', comment_id=comment.id) }}">
                      <input type="submit" value="Delete" class="btn btn-danger">
                  </form>

              </div>
            </div>
          </div>
        </div>
            </div>
        {% endif %}
        <hr>
    {% endfor %}
    
{% endblock %}
