{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <h1>Sent Messages</h1>
  </div>
<div class="row">
  <div class="col-1">
    <a href="{{ url_for('messages.create_message') }}" class="btn btn-warning">Compose</a>
    <a href="{{ url_for('messages.inbox') }}"><h5>Inbox</h5></a>
    <a href="{{ url_for('messages.sent_messages') }}"><h5>Sent</h5></a>
  </div>
  {% for message in messages %}
    {% if current_user.id == message.sender.id %}
    <div class="col-11">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h6 class="card-title">To: {{ message.receiver.username|capitalize }} Title: {{ message.title|capitalize }}</h6><label class="card-subtitle mb-2 text-muted">{{ message.date.strftime("%d-%B-%Y") }}</label>
            <a href="{{ url_for('messages.view_message', message_id=message.id) }}" class="card-link">Check Message</a>
            </div>
          </div>
        </div>
    </div>
    {% endif %}
  {% endfor %}

</div>

{% endblock %}
