{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <h1>Pythonisti Blog and much more!</h1>
  </div>

  {% for post in blog_posts.items %}
  <a href="{{ url_for('blogs.blog_post', blog_post_id=post.id) }}">
    <div class="card card_post">
      <div class="card-body">
        <h2>
          {{ post.title }}
        </h2>
        <label>Writtent By:</label>
        
           <img src="{{ url_for('static', filename='profile_pics/'+post.author.profile_image) }}" height="30" width="30" alt="Profile Picture">
            <a class='author_name_link' href="{{ url_for('users.user_posts', username=post.author.username) }}">
                {{ post.author.username|capitalize }}
            </a>
        <p>Published on: {{ post.date.strftime("%d-%B-%Y") }}</p>
        <a href="{{ url_for('blogs.blog_post', blog_post_id=post.id) }}" class="btn btn-outline-primary blue_btn">
          Read Blog Post
        </a>
      </div>
    </div>
    <br>
  </a>
  {% endfor %}
  <nav aria-label="Page Navigation example">
     <ul class="pagination justify-content-center">

       {% for page_num in blog_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if blog_posts.page == page_num %}
        <li class="page-item disabled">
          <a href="{{ url_for('core.index', page=page_num) }}" class="page-link">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item">
          <a href="{{ url_for('core.index', page=page_num) }}" class="page-link">{{ page_num }}</a>
        </li>
        {% endif %}
       {% endfor %}
    </ul>
  </nav>
{% endblock %}
