{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div align='center' class="jumbotron">
      <h1>Welcome to {{ user.username|capitalize }}'s posts</h1>
      <img src="{{ url_for('static', filename='profile_pics/'+user.profile_image) }}" alt="profile picture" width="150" height="150">
    </div>
    {% for post in blog_posts.items %}
      <h4><a href="{{ url_for('blogs.blog_post', blog_post_id=post.id) }}">{{ post.title }}</a></h4>
      Written By: <a href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username|capitalize }}</a>
      <p class="text-muted mb-2">Published on: {{ post.date.strftime("%d-%B-%Y") }}</p>
      <div class="post_comments">
        <p>{{ post.text }}</p>
      </div>
      <hr>
    {% endfor %}
  </div>
  <nav aria-label="Page Navigation example">
     <ul class="pagination justify-content-center">

       {% for page_num in blog_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if blog_posts.page == page_num %}
        <li class="page-item disabled">
          <a href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}" class="page-link">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item">
          <a href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}" class="page-link">{{ page_num }}</a>
        </li>
        {% endif %}
       {% endfor %}
    </ul>
  </nav>

{% endblock %}
